.container {
    padding-top: 1px;
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #edf2f8;
    }
    
    h2 {
    margin-bottom: 20px;
    }
    
    table {
    width: 100%;
    border-collapse: collapse;
    }
    
    th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    }
    
    th {
    background-color: #333;
    color: white;
    }
    
    button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    }
    
    .add-btn {
    background-color: blue;
    color: white;
    margin-bottom: 10px;
    }
    
    .update-btn {
    background-color: #17a2b8;
    color: white;
    }
    
    .delete-btn {
    background-color: #dc3545;
    color: white;
    }
    
    .view-btn {
    background-color: #007bff;
    color: white;
    }
    
    .login-container {
    text-align: center;
    margin-left: 36%;
    background-color: #7fe2f1;
    width: 400px;
    height: 250px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 8px;
    }
    
    .login-container button{
    border-radius: 5px;
    background-color: rgb(248, 204, 211);
    }
    .login-container input:focus{
    outline:none;
    }
    .login-container input{
    background-color: rgb(243, 241, 241);
    border: 1px;
    border-radius: 5px;
    }
    
    input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 250px;
    }

